@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000000;
  --white: #ffffff;
  --navy-blue: #1D1A63;
  --gold: #DCB731;
  --H1-64: 64px;
  --H2-56: 56px;
  --H3-48: 48px;
  --H4-40: 40px;
  --H5-32: 32px;
  --H-24: 24px;
  --H6-20: 20px;
  --P-20: 20px;
  --P-18: 18px;
  --P-16: 16px;
  --P-14: 14px;
  --P-12: 12px;
  --line-height-120: 120%;
  --line-height-130: 130%;
  --line-height-140: 140%;
  --line-height-150: 150%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.H6-20 {
  font-size: var(--H6-20);
  line-height: var(--line-height-140);
}

.H-24 {
  font-size: var(--H-24);
  line-height: var(--line-height-140);
}

.H5-32 {
  font-size: var(--H5-32);
  line-height: var(--line-height-140);
}

.H4-40 {
  font-size: var(--H4-40);
  line-height: var(--line-height-140);
}

.H3-48 {
  font-size: var(--H3-48);
  line-height: var(--line-height-140);
}

.H2-56 {
  font-size: var(--H2-56);
  line-height: var(--line-height-140);
}

.H1-64 {
  font-size: var(--H1-64);
  line-height: var(--line-height-120);
}


.P-10 {
  font-size: var(--P-10);
  line-height: var(--line-height-140);
}

.P-14 {
  font-size: var(--P-14);
  line-height: var(--line-height-150);
}

.P-18 {
  font-size: var(--P-18);
  line-height: var(--line-height-140);
}

.P-20 {
  font-size: var(--P-20);
  line-height: var(--line-height-140);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.text-navy-blue {
  color: var(--navy-blue);
}

.text-gold {
  color: var(--gold);
}

.bg-navy-blue {
  background-color: var(--navy-blue);
}

.bg-gold {
  background-color: var(--gold);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}
